* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* this is general css styles for all pages. */
body{
  height: 100vh;
  font-family: 'DM Sans', sans-serif;
}
:root{
  --white-text:#FFFFFF;
  --black-text:#000000;
}
.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5%;;
}
.img-2{
  display: none;
}
.img-1,.img-2{
  cursor: pointer;
}
.links{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position:absolute;
  display: none;
  animation: slide-in 0.8s ease-in-out forwards;
  transition: all 0.8s ease-in;
  left: -100%;
  width: 100%;
  height: 253px;
  background-color: var(--white-text);
  padding-top: 32px;
  top: 7%;
}
.link{
  text-decoration: none;
  text-transform: uppercase;
  color: var(--black-text);
  font-weight: 700;
  letter-spacing: .125rem;
  font-size: 15px;
  letter-spacing: 2.5px;
}
.link:hover{
  cursor: pointer;
  color: #dfdfdf;
  transition: 0.3s;
}
.button{
  display: inline-block;
  padding: .9rem 5.3rem;
  background-color: var(--black-text);
  color: var(--white-text);
  cursor: pointer;
}
.button:hover{
  color: var(--black-text);
  background-color: #dfdfdf;
  cursor: pointer;
  transition: 0.9s;
}
.line{
  background-color: var(--black-text);
  opacity: 25%;
  width: 310px;
  height: 1px;
}
.tablet-hero{
  display: none;
}
@keyframes slide-in {
  to {
    left: 0;
  }
}

.slide-in {
  left: 30;
}
